{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	
	<script type="text/javascript" src="{% static 'bootstrap/js/jquery-1.11.3-jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bootstrap/js/ajax.js' %}"></script>
</head>
<body>
<div id="page">
	<div id="sidebar">
		{% block sidebar %}
		<ul>
			<li><a href="/article/all">Articles</a></li>
			<li><a href="/admin/">Admin</a></li>
		</ul>

		{% endblock %}
	</div>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
	
</div>
</body>
</html>